.Dairytitle {
    margin-left: 20px;
  }
  
  .Subtitle4 {
    margin-left: 18px;
    margin-top: 10px;
  }
  
  .Catergory4 {
    margin-left: 20px;
    margin-top: 5px;
  }
  
  .marginDiv4{
    margin-left: 120px;
    margin-top: 10px;
  }
  
  .PriceDiv4{
    margin-left: 10px;
  }
  