.Vegetitle {
  margin-left: 20px;
}

.Subtitle {
  margin-left: 18px;
  margin-top: 10px;
}

.Catergory1 {
  margin-left: 20px;
  margin-top: 5px;
}

.marginDiv{
  margin-left: 120px;
  margin-top: 10px;
}

.PriceDiv{
  margin-left: 10px;
}
