.BevaragesTitle {
    margin-left: 20px;
  }
  
  .BeSubtitle {
    margin-left: 18px;
    margin-top: 10px;
  }
  
  .Catergory5 {
    margin-left: 20px;
    margin-top: 5px;
  }
  
  .marginDiv5{
    margin-left: 120px;
    margin-top: 10px;
  }
  
  .PriceDiv{
    margin-left: 10px;
  }
  