.Babytitle {
    margin-left: 20px;
  }
  
  .Subtitle3 {
    margin-left: 18px;
    margin-top: 10px;
  }
  
  .Catergory3 {
    margin-left: 20px;
    margin-top: 5px;
  }
  
  .marginDiv3{
    margin-left: 120px;
    margin-top: 10px;
  }
  
  .PriceDiv2{
    margin-left: 10px;
  }
  