.Fruittitle {
    margin-left: 20px;
  }
  
  .Subtitle2 {
    margin-left: 18px;
    margin-top: 10px;
  }
  
  .Catergory2 {
    margin-left: 20px;
    margin-top: 5px;
  }
  
  .marginDiv2{
    margin-left: 120px;
    margin-top: 10px;
  }
  
  .PriceDiv1{
    margin-left: 10px;
  }
  