.Snackstitle {
    margin-left: 20px;
  }
  
  .SnackSubtitle {
    margin-left: 18px;
    margin-top: 10px;
  }
  
  .Catergory6 {
    margin-left: 20px;
    margin-top: 5px;
  }
  
  .marginDiv6{
    margin-left: 120px;
    margin-top: 10px;
  }
  
  .PriceDiv6{
    margin-left: 10px;
  }
  